
.advertisement_title{
    color: rgba(151, 155, 155, 1);
    display: flex;
    justify-content: space-between;
    margin: 0 30px 10px 0;
    .img_box{
        margin: 20px 0;
        width: 90px;
        height: 70px;
        img{
            width: 100%;
            height: auto;
            display: block;
        }
    }
    .delete_icon{
        color: #FF5E5E;
        cursor: pointer;
        margin: 0 5px;
    }
    .edit_icon{
        color: #898A8D;
        cursor: pointer;
        margin: 0 5px;
    }
    .calender_icon{
      
        cursor: pointer;
        i{
            margin: 0px 5px;
        }
    }
    .clock_icon{
        margin: 0 5px;
        cursor: pointer;
        i{
            margin: 0px 5px;
        }
    }
}
